.social {
    color: #3a3a3a;
}

.copyright {
    color: #6a6a6a;
    font-size: 15px;
}

#opening {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
