/* base.html  */
body {
    background-color: white;
}

.navbar-brand {
    font-family: 'cairo', sans-serif;

}
.navbar-nav {
    font-size: 13px;
}

.nav-link:active,
.nav-link:hover  {
    font-weight: bold;
    text-decoration: underline;
}

/* Footer - Social Media  */
.social {
    color: #3a3a3a;
}

.copyright {
    color: #6a6a6a;
    font-size: 15px;
}

/* Site Logo */
.site-logo {
    height: 100px;
    width: 150px;
}

/* Background Image for Index Html  */
.background-image {
    height: 100%;
    width: 100%;
}

/* About Us Page */

header.about_page {
    background: no-repeat center center;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #212529;
    margin-top: 0;
  }

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

/* Media Queries for screen m 750px */
@media screen and (max-width: 700px) {

.site-logo {
    display: none;
    height: 20px;
    width: 30px;
}

body {
    overflow-x: hidden; /* Hide vertical scrollbar */
}
}