.social {
    color: #3a3a3a;
}

.copyright {
    color: #6a6a6a;
    font-size: 15px;
}

#opening {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header.about_page {
    background: no-repeat center center;
    position: relative;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #212529;
    margin-top: 0;
  }
