{% extends "base.html" %} 
{% load static %} 
{% block content %} 
<div class = "image-fluid mt-4 my-4" >
<img src= "https://res.cloudinary.com/dw6qbkciv/image/upload/v1674303225/Better%20Health%20Care/care_ahbftu.jpg" class="background-image" role="button" alt="care"></img>
</div>
<div class="container mt-md-5 my-2 text-center">
  <div class="row">
    <div class="col-md-10 mx-auto mt-3 offset-md-2 text-center">
      <h1 class="text-success">About Us</h1>
      <p class="mt-3 font-italic">"The care we provide is what make our practice so special."</p>
      <p class="mx-auto mt-4 text-warning" style="width: 80%;">Our Vision and Values</p>
      <div class="image-fluid"">
				<h3 class=" mt-3 text-danger">Our Vision</h3>
        <p class="font-bold">Our vision at Better Health Care is to provide the highest standard of patient focused healthcare for our community, in a responsive and a supportive manner, ensuring that all our patients and staff are treated with dignity honesty and respect. We aspire to be an organisation we are all proud to belong to both as a patient and as a member of staff.</p>
        <h3 class="mt-3 text-primary">Our Values</h3>
        <div>
          <ul class="text-sm-start">
            <li>We will place patients at the centre of everything we do, and everything we strive to be as a practice.</li>
            <li>We will place patients at the centre of everything we do, and everything we strive to be as a practice.</li>
            <li>We will deliver a high level of efficient and effective healthcare for our patients being responsive to the individual and the community.</li>
            <li>We will promote a culture of inclusiveness and respect. We will never discriminate based on race, colour, nationality, religion, disability, age, status, gender, gender expression, marital status or sexual orientation.</li>
            <li>We will support and empower our patients to understand how to improve and maintain their own heath and their health needs.</li>
            <li>We will promote shared decision making between patients and their carers.</li>
            <li>We will support and protect our vulnerable age groups and help to keep them safe.</li>
            <li>We will work proactively with our vulnerably housed community to provide them with safe and excellent care.</li>
            <li>We will work jointly with our Patient Participation Group to communicate change, receive feedback and encourage their input to our service development.</li>
            <li>We recognise that sometimes we can get things wrong. If this was to ever happen, we would be open and quick to apologies as well as correct and learn from our mistakes, as a practice, as a team and as an individual.</li>
            <li>We will always act ethically with honesty and integrity.</li>
            <li>We recognise that a caring doctor may at times have to challenge preconceived health beliefs as well as listen and support.</li>
            <li>We will ensure an effective and robust information governance system.</li>
            <li>We will embrace the fast pace of the changing NHS and will embrace innovation and technology.</li>
            <li>We will work with local health and social organisations, the local council, as well as the voluntary and faith groups to improve health outcomes for our patients.</li>
            <li>We will endeavour to maintain a clean, safe, welcoming environment within the practice for both patients and staff.</li>
            <li>We will not tolerate any form of abuse towards our staff or clinicians and will act promptly in such situations in the most appropriate way.</li>
            <li>We are committed to the care of all our staff and will promote a happy working environment.</li>
            <li>All clinical staff will stay up to date with the latest guidelines, best practice and relevant medical developments and are committed to continuous professional development and clinical governance.</li>
            <li>We will encourage personal development of our staff though regular and effective appraisal, case reviews and educational opportunities.</li>
            <li>We will ensure that all staff feel that there is an atmosphere of shared ownership of these values at the heart of the practice at Better Health Care, enabling them the ability to shape a proud working environment, where everyone can feel happy and strive to develop to be their best.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 
{% endblock %}