{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">

    <!-- header for the clinic treatments -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="treatments-header h1">About Us</h2>
        </div>
    </div>

    <div class="row mt-2 p-2">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <p class="fs-5 fst-italic text-decoration-underline"></p>
        </div>

        <div class="col-12 col-md-6 d-none d-md-block">
            <img src="{% static 'images/discuss-treatments.jpg' %}" class="img-fluid" alt="speak to our specialist">
        </div>
    </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}